<a href="https://colab.research.google.com/github/lizaasara/business-analytics-tableau/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
x=10
while x>0:
  print(x)
  x=x-1

10
9
8
7
6
5
4
3
2
1

In [6]:
x=0
while x<10:
  print(x)
  x=x+1

0
1
2
3
4
5
6
7
8
9

In [10]:
x=0
a=0
while x<10:
 
  x=x+1
  a=x+a
print(a)

55

In [13]:
x=1
a=1
while x<5:
  a=a*x
  x=x+1
print(a)

24

In [14]:
x=0
while x<10:
  x=x+1
  if x==5:
    break;
  print(x)

1
2
3
4

In [16]:
x=0
while x<10:
  x=x+1
  if x==5:
    continue;
  print(x)

1
2
3
4
6
7
8
9
10

In [17]:
x=0
for x in range(100):
  print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [26]:
for x in range(100):
 a=a+x
 x=x+1
print(a)

39624

In [23]:
x=int(input("enter a number"))
while()

enter a number10

In [28]:
for x in range(100):
  if x==5:
    break;
  print(x)

0
1
2
3
4

In [ ]:
x="liza sara"
for a in x:
  if x=="s":
    break;
  print(x)